<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>ANA Market</title>
    <link rel='icon' type='image/x-icon' href='/media/project_favicon.svg' />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div id='bodyContainer' class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2'>
        <h1>
          <a href='/'><img
              src='/media/project_logo.svg'
              aria-label='Shopping Basket Logo'
            /></a>
          <a href='/'>ANA Market</a>
        </h1>
        <!-- Conditionally render nav elements -->
        <div id="navContainer">
          <nav>
            {{#if logged_in}}
              <button class='no-button navItem' id='logout'>Logout</button>
              |
              <a href='/profile' class="navItem">Profile</a>
            {{else}}
              <a href='/login'>Login</a>
            {{/if}}
          </nav>
          {{#if logged_in}}
            {{!-- Render default avatar (TODO: Add avatar upload functionality) --}}
            <a href='/profile'>
              <img src="/media/default_user_img.svg" id='profileImage'/>
                {{name.getFirstLetter}}
              </img>
            </a>
          {{/if}}
        </div>
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>