{{! TODO: Change all instances of 'item' to instead be called 'item' (keep same pluralization & capitalization) }}
{{! TODO: Contextually modify 'funding' to be 'price', if necessary change text content to match (I've changed some already) }}
{{! TODO: Add user settings section, add options for users to select their contact preference (displaying current selection), and upload/change a profile picture to replace the default }}
{{! TODO (stretch-goal): Add functionality & button for user to edit their contact information }}
{{! TODO (stretch-goal): Add functionality & button for user to edit their active listings }}

<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Create a New Listing:</h3>

    <form class='form new-item-form'>
      <div class='form-group'>
        <label for='item-name'>item name:</label>
        <input class='form-input' type='text' id='item-name' name='item-name' />
      </div>
      <div class='form-group'>
        <label for='item-funding'>item price ($):</label>
        <input
          class='form-input'
          type='number'
          id='item-price'
          name='item-price'
        />
      </div>
      <div class='form-group'>
        <label for='item-desc'>item description:</label>
        <textarea class='form-input' id='item-desc' name='item-desc'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create Listing</button>
      </div>
    </form>
  </div>

  {{#if items.length}}
    <div class='col-md-6 item-list'>
      <h3>Your Listings:</h3>

      {{#each items as |item|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a href='/item/{{item.id}}'>{{item.name}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{item.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='./js/profile.js'></script>